/*Animation references borrowed from:*/
/* https://css-tricks.com/almanac/properties/a/animation/*/


* {
    box-sizing: border-box;
}

body {
    background: url("images/backgrounds/stage-background.jpg");
    background-size: 100%;
    color: #ffffff;
    padding-top: 2vh;
    overflow: hidden;
}

.container {
    height: 75vh;
}

.page-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    position: relative;
    background: url("images/backgrounds/wood-floor.png");
    height: 400px;
    width: 800px;
    margin: 0 auto 1rem;
    display: flex;
    flex-wrap: wrap;
}

.hero {
    position: absolute;
    background-size: contain;
    height: 40px;
    width: 40px;
    background-image: url(images/backgrounds/bruce.png);
}

.brick {
    position: absolute;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.chest {
    position: absolute;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.chest-closed {
    background-image: url(images/backgrounds/chest-closed.png);
}

.chest-open {
    background-image: url(images/backgrounds/chest-open.png);
}

.enemy {
    position: absolute;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.enemy-dead {
    background-image: url('images/santa.jpg')
}

#gene {
    background-image: url('images/kiss/gene.png');
}

#ace {
    background-image: url('images/kiss/ace.png');
}

#paul {
    background-image: url('images/kiss/paul.png');
}

#peter {
    background-image: url('images/kiss/peter.png');
}

.scroll {
    display: table;
    position: fixed;
    z-index: 2000;
    left: 10%;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: popup;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes popup {
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 0, 0.0);
        border-radius: 100%;
    }
    50% {
        background-color: rgba(0, 0, 0, 0.4);
    }
    100% {
        transform: scale(1.0);
        background-color: rgba(0, 0, 0, 0.7);
    }
}


.scroll-content {
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
}

.scroll-button:hover {
    cursor: pointer;
}

.treasure-scroll {
    display: table;
    position: fixed;
    z-index: 2000;
    left: 10%;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    background-color: #000000;
    animation-name: swoop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes swoop {
    0% {
        transform: translate(-100px, -100px) skewX(40deg);
        background-color: #ffffff;
    }   
    80% {
        transform: translate(300px, 60px) skewX(-40deg);
    }
    100% {
        transform: translate(0, 0, 0) skewX(0deg);
        background-color: #000000;
    }
}


.treasure-scroll-content {
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
}

.hero-hp {
    background-color: rgba(0,0,0,0.5);
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

.instructions {
    background-color: rbga(0,0,0,0.5);
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
}

.startScreen {
    display: flex;
    justify-content: center;
    margin-bottom: 50%;
    height: 580px;
    width: 100%;
}

.credits {
    background-color: rgba(0,0,0,0.5);
    font-family: 'Press Start 2P', cursive;
    font-height: 0.5;
    font-size: 6px;
}