* {
	box-sizing: border-box;
}

body {
	background: #e6ebcd;
	color: #243010;
	padding-top: 2vh;

}


.board {
	position: relative;
	background-color: #e6b89c;
	height: 120px; /*Change these to px to vh/vw for responsiveness*/
	width: 200px;
	margin: 0 auto 1rem;

}

.hero {
	position: absolute;
	background-size: 10px;
	height: 10px;
	width: 10px;
	background-image: url(images/santa.jpg);
}

.brick {
	position: absolute;
	background-size: 1px;
	height: 10px;
	width: 10px;
	background-image: url(images/blocks.png)
}

.chest {
	position: absolute;
	background-size: 1px;
	height: 10px;
	width: 10px;
	background-image: url(images/brown_brick.png)
}

.scroll {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 50%;
	height: 50%;
	overflow: scroll;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.scroll-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.scroll-button:hover {
	cursor: pointer;

}